{% extends 'page.html' %}
{% import 'download.html' as download %}
{% import 'widgets.html' as widgets %}
{% block main %}
<img src="{{ get_url(path="/platforms/"~page.extra.platform~".png") }}" style="display: block; margin: auto;">
{% if page.extra.clients %}
{% set clients = page.extra.clients | length %}
{% if clients > 1 %}
{{ widgets::t(key="severalclients") | replace(from="%1%", to=clients|as_str) | replace(from="%2%", to=page.extra.platform) }}
<table>
    <tr>
        <th>Feature</th>{% for client in page.extra.clients %}
        <th>{{ client }}</th>{% endfor %}
    </tr>{% for feature in config.extra.clientfeatures %}
    <tr>
        <td>{{ feature }}</td>{% for client in page.extra.clients %}
        <td>{{ config.extra.clients | get(key=client) | get(key="features") | get (key=feature) }}</td>{% endfor %}
    </tr>{% endfor %}
</table>
{% endif %}

{% for client in page.extra.clients %}
{% set client_config = config.extra.clients | get(key=client) %}
<article class="client">
<h2>{{ client }}</h2>
<img class="client-logo" src="{{ get_url(path="/clients/" ~ client ~ "/" ~ client_config.logo) }}">

<div class="summary">{{ get_page(path=widgets::i18n_path(path="software/"~client~"/index.md")) | get(key="content") | safe }}</div>

<div class="buttons">
{% if client_config.website %}{{ download::button(link=client_config.website, icon="home", text=widgets::t(key="website")) }}{% endif %}
{% if client_config.forge %}{{ download::button(link=client_config.forge, icon="wrench", text=widgets::t(key="forge")) }}{% endif %}
{% if client_config.bugtracker %}{{ download::button(link=client_config.bugtracker, icon="bug", text=widgets::t(key="bugtracker")) }}{% endif %}
{% if client_config.donate %}{{ download::button(link=client_config.donate, icon="euro", text=widgets::t(key="donate")) }}{% endif %}
</div>

<div class="setup">
{% for repo, package in client_config.download %}{% if repo not in config.extra.downloads[page.extra.platform] %}{% continue %}{% endif %}
{{ download::download(repo=repo, package=package) }}
{% endfor %}
</div>
</article>
{% endfor %}
{% else %}
<h2>{{ widgets::t(key="noclient") | replace(from="%1%", to=page.extra.platform) }}</h2>
{% endif %}
{% endblock main %}
